$hovered_color: unquote('#d9f1ff9f');
%index_card_format  {
    img{
        max-height: 217px;
    }
    li:hover{
        background-color: $hovered_color;
    }
}

::selection{
    color: #ffffff;
    background-color: #000000;
}

.index_title{
    text-align: center;
    margin: 10%, 20%;
    padding: 10%;
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
}

// desktop
@media screen and (min-width: 960px){
    .index_card{
        
        font-family: 'Montserrat', sans-serif;
        
        img{
            max-height: 217px;
        }
        li:hover{
            background-color: $hovered_color;
        }
    }
}

// mobile
@media screen and (max-width: 960px){
    .index_card{

        margin: 15px;
        font-family: 'Montserrat', sans-serif;
        max-width: 348px;

        img{
            max-height: 217px;
        }
        li:hover{
            background-color: $hovered_color;
        }
    }
}