$hovered_color: unquote('#d9f1ff9f');
%text_left{
    align-items: flex-start;
    text-align: left;
}
::selection{
    color: #ffffff;
    background-color: #000000;
}

#index_title{
    text-align: center;
    margin: 10%, 20%;
    padding: 10%;
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
}

.index_card{

    font-family: 'Montserrat', sans-serif;
    
    img{
        max-height: 217px;
    }
    li:hover{
        background-color: $hovered_color;
    }
}

.page_title{
    @extend %text_left;
    margin: 10%;
    margin-left: 0%;
    font-family: 'Major Mono Display', monospace;
    font-size: 80px; 
}

.page_content{

    font-family: 'Oswald', sans-serif;

    p{
        font-size: 50px;
    }

    .page_table{
        width: 60%;

        tr{
            margin: 20px;
        }
    
        th, td{
            font-weight: 200;
            font-size: 25px;
        }
    
    }
}



// mobile
@media screen and (max-width: 960px){
    .index_card{
        margin: 15px;
        max-width: 348px;
    }
}